@import './common.scss';
$t_size: 16px;

.container {
  width: 100%;
}
.first {
}

.container {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  column-gap: 10px;
  width: 100vw;
  // border: 1px solid red;
  overflow: hidden;
  .box {
    width: 250px;
    margin: 0 10px;
    text-align: center;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
    transition-delay: 0.1s;
    // transform: rotate(-20deg);
  }
}
// .container .box {
//   width: 500px;
//   display: inline-block;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   margin: 0;
//   margin-bottom: 15px;
//   padding: 10px;
//   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
// }
