@import './common.scss';
* {
  box-sizing: border-box;
}

.images {
  max-width: 500px;
}

.image {
  display: inline-block;
  position: absolute;
  max-width: 250px;
  padding: 10px;
}

.image > img {
  width: 100%;
}

.test {
  display: inline-block;
  width: 250px;
  // border: 1px solid coral;
}

.test > span {
  position: absolute;
  color: white;
  bottom: 25px;
  right: 25px;
}
.image > span {
  position: absolute;
  color: white;
  bottom: 25px;
  right: 25px;
}
