// .test {
//   width: 100px;
//   height: 100px;
//   background-color: red;
//   animation-name: example;
//   animation-duration: 4s;
//   animation-iteration-count: infinite;
//   @keyframes example {
//     from {
//       background-color: red;
//     }
//     to {
//       background-color: yellow;
//     }
//   }
// }

// .test {
//   background: #2db34a;
//   transition-property: background;
//   transition-duration: 1s;
//   transition-timing-function: linear;
//   width: 300px;
//   height: 300px;
// }
// .test:hover {
//   background: #ff7b29;
//   animation-iteration-count: infinite;
// }

.test {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.test img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s;
}

.test img:hover {
  transform: scale(1.5); /* 이미지 확대 */
  transition-duration: 5s;
}
